extends layout

block content 
    div(class="main-wrapper")
        form(method="POST" action="/new")
            div(class="navbar-wrapper")
                h1(class="bubbled") Submit a Message
                a(href="/" class="bubbled")
                    img(src="/images/home.svg" alt="Home icon")

            div 
                label(for="name")
                    h2 Name (&lt; 100 characters)
                input(type="text" id="name" name="name" maxlength="100" required)
            div(class="form-message")
                label(for="message")
                    h2 Message (&lt; 500 characters)
                textarea(id="message" name="message" maxlength="500" required)
            div
                button(class="bubbled")
                    h2 Submit
